<div id="sideBar" class="sidebar-offcanvas">
    <div class="col-md-12">
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-divider"></li>
            <li><a href="#/">Esami užsakymai</a></li>
            <li><a href="#/order/create">Sukurti užsakymą</a></li>
            <li class="nav-divider"></li>
            <li><a href="#/Products">Produktai</a></li>
            <li class="nav-divider"></li>
            <li><a href="#/Countries">Šalys</a></li>
            <li class="nav-divider"></li>
            <li><a href="#/Clients">Klientai</a></li>
            <li class="nav-divider"></li>
        </ul>
    </div>
</div>