<div id="sideBar" class="sidebar-offcanvas">
    <div class="col-md-12">
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-divider"></li>
            <li><a href="#/">Esami užsakymai<i class="fa fa-vimeo fa-fw pull-right" aria-hidden="true"></i></a></li>
            <li><a href="#/create">Sukurti užsakymą<i class="fa fa-pagelines fa-fw pull-right" aria-hidden="true"></i></a></li>
            <li class="nav-divider"></li>
            <li><a href="#/Products">Produktai<i class="fa fa-modx fa-fw pull-right" aria-hidden="true"></i></a></li>
            <li class="nav-divider"></li>
            <li><a href="#/Countries">Šalys<i class="fa fa-slack fa-fw pull-right" aria-hidden="true"></i></a></li>
            <li class="nav-divider"></li>
            <li><a href="#/Clients">Klientai<i class="fa fa-user-times fa-fw pull-right" aria-hidden="true"></i></a></li>
            <li class="nav-divider"></li>
            <li ng-if="userData.loggedIn">
                <a ng-click="logout()">Atsijungti<i class="fa fa-sign-out fa-fw pull-right" aria-hidden="true"></i></a>
            </li>
            <li ng-if="UserIsUndefined()">
                <a href="#/Login">Login<i class="fa fa-user-times fa-fw pull-right" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
</div>