<div class="row">
    <form role="form" novalidate angular-validator name="addOrder" angular-validator-submit="AddNewProduct()">
        <div class="col-sm-6">
            <label class="label label-success" ng-show="Products.length != 0"> Produktu kiekis {{Products.length}}</label>
            <div class="form-group">
                <label class="control-label">
                    Produkto pavadinimas
                </label>
                <input type="text" ng-model="order.OrderNo" class="form-control" name="OrderNo" id="OrderNo" placeholder="FirstName" validate-on="blur" required
                       required-message="Užsakymo numeris yra būtinas" />
            </div>

            <div class="form-group">
                <label class="control-label">
                    Produkto tipas
                </label>
                <angucomplete-alt id="members"
                                  placeholder="Pasirinkite produkt tipą"
                                  pause="200"
                                  selected-object="selectProductTypeFn"
                                  input-changed="selectionChanged"
                                  remote-url="/api/Product/ProductTypeChoose?filter="
                                  remote-url-data-field=""
                                  title-field="ProductTypeName"
                                  description-field=""
                                  input-class="form-control form-control-small"
                                  match-class="red"
                                  text-searching="Vyksta produkto tipo paieška"
                                  text-no-results="Atsiprašome, bet toks produkto tipas neegzistuoja" />
            </div>
        </div>
        <div class="col-sm-6">
            <table class="table table-hover" style="max-height:60%">
                <thead>
                    <tr>
                        <td>Produkto pavadinimas</td>
                        <td>Produkto tipo pavadinimas</td>
                        <td>Sukūrimo data</td>
                        <td>Redagavimas</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in Products">
                        <td>{{product.ProductName}}</td>
                        <td>{{product.ProductTypeName}}</td>
                        <td>{{product.CreatetionDate}}</td>
                        <td><a href="~/" ng-click="test">Redaguoti</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>